.order-container {
  max-width: 1200px;
  margin: 0 auto;
  background: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 20px;
}

.order-header {
  display: flex;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  gap: 30px;
  padding: 0 20px;

  position: sticky;
  top: 58px;
  z-index: 100;
}


.order-nav-active {
  padding: 15px 0;
  color: #d00000;
  border-bottom: 2px solid #d00000;
  cursor: pointer;
  font-weight: 500;
}

.order-nav {
  padding: 15px 0;
  color: #333;
  cursor: pointer;
}

.order-card {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}

.order-status-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.order-delivered {
  color: #26aa99;
  font-size: 13px;
}

.order-status {
  color: #d00000;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

.order-product-box {
  display: flex;
  padding: 20px;
  gap: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.order-product-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-product-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #e0e0e0;
}

.order-product-info {
  flex: 1;
  cursor: pointer;
}

.order-product-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin: 0 0 8px;
}

.order-product-variant {
  font-size: 13px;
  color: #777;
  margin-bottom: 8px;
}

.order-qty {
  font-size: 13px;
  color: #000000;
}

.order-price-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.order-old-price {
  font-size: 13px;
  color: #777;
  text-decoration: line-through;
  margin-bottom: 5px;
}

.order-current-price {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

.order-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 6px;
}

p.order-shipping-address,
p.order-payment-method {
  margin: 4px 0;
  font-size: 0.875rem;
  color: #8d8d8d;
}

.order-total-box {
  padding: 15px 20px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.order-total-label {
  color: #333;
  font-size: 14px;
}

.order-total {
  color: #d00000;
  font-size: 20px;
  font-weight: 600;
}

.order-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px 20px;
}

.order-buy-again {
  padding: 8px 20px;
  background: #d00000;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.order-review {
  padding: 8px 20px;
  background: #fff;
  color: #333;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  cursor: pointer;
}

.no-orders {
  text-align: center;
  padding: 50px 0;
  color: #8d8d8d;
  font-size: 1rem;
}
